<!-- <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: auto;"> -->
<h1 style="text-align: center;">The Jobs EJS Application</h1>
<% if (user) { %>
  <p style="color: green; text-align: center; margin-top: 5%;">User <%= user.name %> is logged on.</p>
   <form method="POST" action="/sessions/logoff" style="position: absolute; top: 0; right: 0;">
   <button style="background-color: darkgreen; color: white;">Log out</button>
   </form>
<% } %>
<% if (errors && errors.length) {
    errors.forEach((err) => { %>
      <div class="alert alert-danger" style="width: 30%; margin: 0 auto;">Error: <%= err %></div>
    <% })
  } %>
<% if (info && info.length) {
    info.forEach((msg) => { %>
      <div class="alert alert-success">Info: <%= msg %></div>
    <% })
  } %>
<% if ((errors && errors.length) || (info && info.length)) { %>
    <hr />
<% } %>
<!-- </div> -->
<!-- <header>
    <h1 class="fs-1">The Secret Word EJS Application</h1>
</header>
<% if (errors && errors.length) {
  errors.forEach((err) => { %>
    <div class="alert alert-danger">Error: <%= err %></div>
<% }) } %>
<% if (info && info.length) {
  info.forEach((msg) => { %>
    <div class="alert alert-success">Info: <%= msg %></div>
<% }) } %>
<% if ((errors && errors.length) || (info && info.length)) { %>
    <hr />
<% } %> -->