<h1>The Jobs EJS Application</h1>
<% if (user) { %>
   <p>User <%= user.name %> is logged on.</p>
   <form method="POST" action="/sessions/logoff">
   <button>Logoff</button>
   </form>
<% } %>
<% if (errors) {
    errors.forEach((err) => { %>
      <div>
        Error: <%= err %>
      </div>
    <% })
  } %>
  <% if (info) {
    info.forEach((msg) => { %>
      <div>
        Info: <%= msg %>
      </div>
    <% })
  } %>
<hr />
<!-- <header>
    <h1 class="fs-1">The Secret Word EJS Application</h1>
</header>
<% if (errors && errors.length) {
  errors.forEach((err) => { %>
    <div class="alert alert-danger">Error: <%= err %></div>
<% }) } %>
<% if (info && info.length) {
  info.forEach((msg) => { %>
    <div class="alert alert-success">Info: <%= msg %></div>
<% }) } %>
<% if ((errors && errors.length) || (info && info.length)) { %>
    <hr />
<% } %> -->