<h2><%= job ? 'Edit Job' : 'Add New Job' %></h2>

<form action="<%= job ? '/job/update/' + job.id : '/job' %>" method="POST">
  <label for="company">Company:</label><br>
  <input type="text" id="company" name="company" value="<%= job ? job.company : '' %>" required><br>
  
  <label for="position">Position:</label><br>
  <input type="text" id="position" name="position" value="<%= job ? job.position : '' %>" required><br>
  
  <label for="status">Status:</label><br>
  <input type="text" id="status" name="status" value="<%= job ? job.status : '' %>" required><br>
  
  <input type="hidden" name="_csrf" value="<%= _csrf %>">
  
  <input type="submit" value="<%= job ? 'Update' : 'Add' %>">
</form>

