<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>
<div style="text-align: center;">
  <h2>Jobs List</h2>
  <a href="/jobs/new" class="btn btn-primary mb-3" style="background-color: rgb(34, 82, 34); color: white; font-size: larger;">Add New Job</a>
</div>
<table id="jobs-table" class="table" style="margin-left: auto; margin-right: auto;">
  <thead class="thead-dark">
    <tr>
      <th>Company</th>
      <th>Position</th>
      <th>Status</th>
      <th class="px-6">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% if (jobs && jobs.length) { %>
      <% jobs.forEach((job) => { %>
        <tr>
          <td><%= job.company %></td>
          <td><%= job.position %></td>
          <td><%= job.status %></td>
          <td class="text-end">
            <a href="/jobs/edit/<%= job.id %>" class="btn" style="background-color: rgb(34, 82, 34); color: white;">
              Edit
            </a>
            </td>
            <td class="text-end">
              <form action="/jobs/delete/<%= job.id %>" method="POST" style="display:inline;">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="btn" style="background-color: red; color: white;">
                  Delete
                </button>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
              </form>
            </div>
          </td>
        </tr>
      <% }) %>
    <% } else { %>
      <tr class="row-spacing">
        <td colspan="5">No jobs found</td>
      </tr>
    <% } %>
  </tbody>
</table>
<%- include("partials/footer.ejs") %>